name: floating_bubble_overlay
description: "A Flutter plugin that provides a customizable floating bubble overlay for Android."
version: 1.0.5
homepage: https://github.com/MICHAELVM01/floating_bubble_overlay
repository: https://github.com/MICHAELVM01/floating_bubble_overlay

environment:
  sdk: ^3.4.4
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.floating_bubble_overlay
        pluginClass: FloatingBubbleOverlayPlugin
      ios:
        pluginClass: FloatingBubbleOverlayPlugin
